.logo{
    text-align: center;
    margin-bottom: 20px;
}
.sign-in-page{
    width: 400px;
    height: 350px;
    border: 2px solid rgb(183, 183, 183);
    border-radius: 5px;
    padding:10px 20px;
    margin:15px auto;
}
.heading{
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    font-size: 35px;
}
.detail{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bolder;
}
.email{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(248, 142, 2);
    border-radius: 3px;
    margin-top: -10px;
}
.btn{
    width: 100%;
    box-sizing: border-box;
    border: 1.5px solid rgb(169, 89, 28);
    border-radius: 3px;
    background-color: rgb(236, 221, 139);
    text-decoration: none;
    padding: 8px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    /* color: white; */
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.condition{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    
}
.cnd-prv{
    text-decoration: none;
    color: rgb(24, 119, 203);
}
.icon{
    position: relative;
}
.fi{
    color: rgb(89, 89, 89);
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    /* bottom: 3px; */
    top: 4px;
    /* margin-top: 30px; */
}
.fi:hover{
    color: rgb(154, 152, 152);
}
.help{
    text-decoration: none;
    color: rgb(24, 119, 203);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 18px;
}
